html {
    background-color: #5fdcf1; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
    font-size: 17px;
}
h1{
    
    text-align : center;
   
  }
img{
    width : 400px;
    height : 250px;
    margin : 5px;
    transition : all 1s;
    box-shadow : 4px 4px 4px #883885;
}
.wild{
    
        display : flex;
        flex-wrap : wrap;
        justify-content : center;
}
img:hover{
    transform :scale(1.3);
  }
